---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading" style="color: red;">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.fiches.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Fiches" }}</h2>
    <ul class="post-list">

      {%- for fiche in site.fiches -%}
      <li>
        <h3>
          <a class="post-link" href="{{ fiche.url | relative_url }}">
            {{ fiche.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ fiche.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p> -->
  {%- endif -%}

 </div>